CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

other-api/
build/
out/
bin/
lib/
share/
*.exe
*.a
*.so

.cache/
*.log
*.deb
*.rpm
aloo-project/
.mypy_cache
output/
