CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

other-api/
build/
out/
bin/
lib/
*.exe
*.a
*.so

node_modules/
.cache/
*.log
*.deb
*.rpm
aloo-project/
dist/deb/usr/include
dist/deb/etc/aloo

dist/rpm/usr/include
!dist/rpm/bin
dist/rpm/etc/aloo

dist/Arch/usr/include
!dist/Arch/etc/bin
dist/Arch/etc/aloo
