CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

docs/
build/
out/
bin/
lib/

node_modules/
.cache/
*.log
!gtest/build/
!gtest/build/_deps
!gtest/build/bin
!gtest/build/CMakeFiles/
!gtest/build/cmake_install.cmake
!gtest/build/Makefile
!gtest/build/CMakeCache.txt
