:root {
	--skyblue-200: #a5d1fa;
	--skyblue-300: #84c2fc;
	--skyblue-400: #4ba6fc;
	--skyblue-500: #0484fc;
	--skyblue-600: #057ae7;
	--skyblue-700: #0261bb;
	--skyblue-800: #1b578f;
	--skyblue-900: #1a4874;
	--skyblue-950: #082846;
	--blue-200: #a5a5fa;
	--blue-300: #7d7df8;
	--blue-400: #4646fc;
	--blue-500: #0307f5;
	--blue-600: #0206da;
	--blue-700: #0306b6;
	--blue-800: #010391;
	--blue-900: #020475;
	--blue-950: #01024d;
	--red-200: #fd8080;
	--red-300: #fc6868;
	--red-400: #fd5a5a;
	--red-500: #fd0505;
	--red-600: #d60404;
	--red-700: #b40101;
	--red-800: #8d0101;
	--red-900: #720202;
	--red-950: #500101;
	--green-200: #a5faa5;
	--green-300: #74f574;
	--green-400: #35fa35;
	--green-500: #64f503;
	--green-600: #5bdf02;
	--green-700: #45ac01;
	--green-800: #348001;
	--green-900: #026d00;
	--green-950: #024b01;
	--grey-50: #f8f8f8;
	--grey-100: #ececec;
	--grey-200: #b9b9b9;
	--grey-300: #a1a1a1;
	--grey-400: #858484;
	--grey-500: #666666;
	--grey-600: #535353;
	--grey-700: #4d4c4c;
	--grey-800: #3d3c3c;
	--grey-900: #252525;
	--grey-950: #1f1e1e;
	--gray-50: #f8f8f8;
	--gray-100: #ececec;
	--gray-200: #cecdcd;
	--gray-300: #a1a1a1;
	--gray-400: #858484;
	--gray-500: #666666;
	--gray-600: #535353;
	--gray-700: #4d4c4c;
	--gray-800: #3d3c3c;
	--gray-900: #252525;
	--gray-950: #1f1e1e;
}
